.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.mx-auto {
  margin: 0 auto;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.mt-0 {
  margin-top: 0;
}

.mb-5 {
  margin-bottom: 5rem;
}

.my-3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-0 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.img-fluid{
  max-width: 100%;
}