:root {
  color-scheme: light dark;
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
  }
}

body {
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.4rem;
}

main{
  max-width: 960px;
}

main.fluid{
  max-width: initial;
}

#iframe.mastodon-embed {
  width: 400px;
  max-width: 100%;
  aspect-ratio: 4 / 7;
  border: none;
}

button{
  cursor: pointer;
}

s{
  opacity: .75;
}

button{
  padding: 8px;
  font-weight: bold;
}

.z-10{
  z-index: 10;
}