body {
  font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
  overflow: hidden;
}

.html-tree {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  cursor: pointer;
  max-width: 960px;
  margin: 0 auto;
}
